.question{
    width: 50%;
    margin: 5% auto;
    padding: 20px;
    background-color: rgb(218, 201, 180);
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 15px rgb(22, 20, 9);

    h3{
        padding-bottom: 15px;
    }
    
    .answers{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        gap:10px;
        p{
            border: 1px solid rgb(65, 128, 211);
            border-radius: 10px;
            padding: 15px;
            cursor: pointer;

            &:hover{
                background-color: rgb(212, 129, 129);
            }

            &:active{
                transform:scale(0.97);
            }
        }
    }

    hr{
        margin:50px 0px 10px 0px;
    }

    .counter{
        @include Center();
        justify-content: space-between;
        cursor: default;

        button{
            width: 100px;
            height: 50px;
            font-size: 1.25rem;
            padding: 15px;
            color: white;
            background-color:#4eb5f1;           
            border-radius: 5px;
            @include Center(); 

            &:hover{
                background-color:#4095c6;
            }

        }
    }
   
}


.clicked,.correct{
    background-color: rgb(212, 129, 129)
}


.increase{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}



.correct::after{
   content: "\2713";
   float: right;
}

.wrong{
    background-color: rgb(197, 42, 42);
}

.wrong::after{
    content: "\2716";
    float: right;
}

// .clicked::after{
//     content: "\2713";
//     float: right;
// }



.finalscore{
    font-size: 2.5rem;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(24, 173, 32);

    div{
        display: flex;
    }


    button{
        margin: 25px 25px 0px 25px;
        width: 150px;
        height: 50px;
        font-size: 1.25rem;
        padding: 15px;
        color: white;
        background-color:#4eb5f1;           
        border-radius: 5px;
        @include Center();

        &:hover{
            background-color:#4095c6;
        }   
    }
}